<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body

<!-- Inserta el navbar -->
<div th:replace="fragments :: navbar"></div>
<div class="container-fluid">
    <div class="container-fluid">
        <h1>todolist-equipo-grupo5</h1>
        <ul>
            <li>Desarrollada por Grupo 5 </li>
			<li>
			        Integrantes:
			        <ul>
			            <li>Kevin Peñafiel</li>
			            <li>Nick Valverde</li>
			            <li>Karina Arichavala</li>
			            <li>Fernando Aldaz</li>
			            <li>Álvaro Zumbana</li>
						<li>Maximiliano Madrid</li>
			        </ul>
			 </li>
			<li>Versión 1.3.0 SNAPSHOT</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>

<!-- Commit a rama develop -->
